.modal-show {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vmax;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modal-content {
    margin-bottom: 50%;
}